<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>

<p><%= "#{@game.attacker.name} has #{@game.attacker.hit_points}HP!" %></p>

<p><%= "#{@game.attacker.name}'s turn" %></p>

<form action="/play" method="get">
  <input type="submit" value= "Attack!"
    name="Attack!" id="attack_submit" />
</form>
