<h1>BATTLE TIME</h1>
<%= @game.attacker.name %> vs. <%= @game.defender.name %>
<br>
<p><%= "#{@game.attacker.name}'s turn" %></p>
<br>
<%= "Opponent has #{@game.player_2.hit_points}HP!" %>
<form action="/attack" method="get">
  <input type="submit" value= "Attack!"
    name="Attack!" id="attack_submit" />
</form>
<br>
