<h1>BATTLE TIME</h1>
<%= @player_1.name %> vs. <%= @player_2.name %>
<br>
<%= "Opponent has #{@player_2.hit_points}HP!" %>
<br>
<form action="/attack" method="get">
  <input type="submit" value= "Attack!"
    name="Attack!" id="attack_submit" />
</form>
<br>
