<h1>BATTLE TIME</h1>
<%= @game.players[0].name %> vs. <%= @game.players[1].name %>
<br>
<p><%= "#{@game.attacker.name}'s turn" %></p>
<br>
<%= "#{@game.defender.name} has #{@game.defender.hit_points}HP!" %>
<form action="/attack" method="get">
  <input type="submit" value= "Attack!"
    name="Attack!" id="attack_submit" />
</form>
<br>
